:root {
    --heading-font: "Lexend", sans-serif;
    --text-font: "Lora", serif;
    --light-blue: #669bbc;
    --dark-blue: #003049;
    --red: #c1121f;
    --ivory: #fdf0d5;


}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header span {
    display: block;
    text-align: center;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-family: var(--heading-font);
    font-size: 2.5rem;
    padding: 25px; 
       
    
}

nav {
   background-color: var(--dark-blue);
   margin: 0 auto;
   border-top: var(--red) solid 5px;
   

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    flex: 1 1 100%;
    padding: 15px;

}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--ivory);
    font-family: var(--text-font);
    font-weight: bolder;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: overline ;
    color: var(--light-blue)
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
}

p {
    font-family: var(--text-font);
    color: var(--dark-blue);
}



.card {
    border: var(--dark-blue) 2px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.card p {
    margin: 20px;
}



#left {
    grid-column: 1/3;
}

.poky {
    clear: both;

}

#right {
    grid-column: 3/4;
         
}

.list li {
    font-family: var(--text-font);
    
    list-style-type: none;
    margin-top: 25px;
}

.list a {
    text-decoration:none;
    color: var(--dark-blue)
}

.list a:hover {
    color: var(--red);
}
.self {
    float: right;
    padding: 10px;
    width: 200px;
    
}

.flag {
    float: left;
    width: 200px;
    padding: 10px;
    
}


h1, h2 {
    font-family: var(--heading-font);
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    border-radius: 10px;
}

footer {
    text-align: center;
}

