:root {
    --text-font: "Fira Sans", sans-serif;
    --header-font: "Josefin Slab", serif;
    --main-color: #284b63;
    --accent-color-1: #d9d9d9;
    --accent-color-2:  #3c6e71;
    --accent-color-3: #c32f27;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--text-font);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--main-color);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: var(--text-font);
}

h1 {
    font-family: var(--header-font);
    font-size: 2.5rem;
    font-weight:900;
    color: white;
    text-align: left;
    padding-left: 20px;
    
    
}

#menu {
    display:block;
    background-color: white;
    text-decoration: none;
    font-size: 2rem;
    color: var(--main-color);
    padding: 0.5rem 0.75rem;
}

#menu::before {
    content: "≡";
}


nav {
    font-family: var(--text-font);
    font-size: 1.2rem;
   
    
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
   
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    
   
}

.navigation a:hover, 
.navigation a:active {
    color: var(--accent-color-3);
    background-color: var(--accent-color-1);
    text-decoration: underline double;
    border: 1px solid white;

}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
    text-align: center

}

h2 {
   
    font-family: var(--header-font);
    font-size: 2.7rem;
    padding: 20px;

}

figure img {
    width: 225px;
    height: auto;
}

figcaption {
    font-family: var(--text-font);
}

footer {
    text-align: center;
}

