@media (min-width: 640px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header p {
        text-align: left;
    }

    



    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    h2 {
        grid-column: 1 / 4;
    }

    
   
    }
    
    
